//custom layout


html, body, #page {
  height: 100%;
}

.main-content {
  margin: 0px;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Header

.navbar-brand {
  background-color: $menu_color;
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
}

.navbar-burger {
  color: #ddd;
}

.navbar-burger:hover {
  color: #eee;
}

// Side menu

aside {
  background-color: $menu_color;
  box-shadow: 8px 0 16px rgba(10, 10, 10, 0.1);
  # position: sticky;
  top: 0px;
  min-height: 100vh;
  min-width: 229px;
  z-index: 20;

  .column {
    padding: 0px;
  }

  hr {
    color: $menu_link_color;
    background-color: $menu_link_color;
    height: 1px;
  }

  .menu-header {
    width: 100%;
    min-height: 150px;
  }
}

.menu-contact {
  p {
    font-size: 0.75rem;
  }

  a {
    color: $menu_link_color;
  }
  a:hover {
    color: lighten($menu_link_color, 20%);
  }
}

// Section

h1 {
  font-size: 2.45rem;
  text-align:center;

  padding-bottom: 0.5rem;
  margin-bottom: 2.5rem;

  border-bottom: #DDD 1px solid;

  @media (min-width: $tablet) {
    padding-top: 0.5rem;
    border-top: #DDD 1px solid;
  }

    .byline {
      font-size: 2rem;
      font-style: italics;
      font-weight: lighter
    }
}
h2 {
  font-size: 2rem;
}


// Gallery page
.gallery {
    .lSSlideOuter {
        padding-top: 35px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
// Hero banner

.hero {
  margin-top: -30px;
  margin-left: -100px;
  margin-right: -100px;
  background-position: 50% 30%;
  background-size: cover;

  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);

  .scrim {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    width:100%;
    height:100%;
  }

  .title {
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.67) !important;
  }
}

// Google maps

#map {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map.is_fullheight {
    height: 100%
}

// tabs

.content-tab {
	display: block;
	height: 0;
	opacity: 0;

	.columns {
	  margin-top: 0px;
	}

	.columns,p,.lSSlideOuter {
		height: 0;
	    opacity: 0;
	}

}

.content-tab.is-active {
	height: auto;
	opacity: 1;

	.columns,p,.lSSlideOuter {
		height: auto;
	    opacity: 1;
	}

}

#gallery-page.columns {
    margin: 0px;
}
#gallery-page {
    .column {
      padding:1px;
          @media (max-width: $tablet) {
            width: 49%;
            display: inline-flex;
          }
    }

    .gallery-item {
        width: 100%;
        margin: 0;
        padding: 0px;
        background: #000;
        overflow: hidden;
        display: inline-grid;

          img {
            width: 100%;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
          }

          img:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            opacity: .5;
          }
    }

}