<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/lightslider.css">

    <script src="{{ site.baseurl }}/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/lightslider.min.js"></script>

    <title>Kimanko pod Sosnami - {{ page.title }}</title>
</head>
<body>
<div id="page">
    <nav class="navbar is-hidden-tablet" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}/index.html">
          <img src="{{ site.baseurl }}/assets/img/logo_header.png" alt="logo" />
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ site.baseurl }}/index.html">
            Home
          </a>
          <a href="{{ site.baseurl }}/offer/" class="navbar-item">Offer</a>
          <a href="{{ site.baseurl }}/gallery/" class="navbar-item">Gallery</a>
          <a href="{{ site.baseurl }}/prices/" class="navbar-item">Prices</a>
          <a href="{{ site.baseurl }}/reservations/" class="navbar-item">Reservations</a>
          <a href="{{ site.baseurl }}/attractions/" class="navbar-item">Attractions</a>

          <a href="{{ site.baseurl }}/contact/" class="navbar-item">Contact</a>

        </div>
      </div>
    </nav>
    <section class="main-content columns">
        <aside class="is-3 is-narrow-mobile is-fullheight is-hidden-mobile menu">
          <div class="menu-header has-text-centered is-vertical-center">
              <div>
              <img src="{{ site.baseurl }}/assets/img/logo_sidebar.png" alt="logo" height="100" /><br />
              <p>Kimanko pod Sosnami</p>
              </div>
          </div>
          <div class="section">
              <ul class="menu-list">
                  <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                  <li><hr /></li>
                  <li><a href="{{ site.baseurl }}/offer/" {%- if page.permalink == "/offer/" -%}class="is-active"{%- endif -%}>Offer</a></li>
                  <li><a href="{{ site.baseurl }}/gallery/" {%- if page.permalink == "/gallery/" -%}class="is-active"{%- endif -%}>Gallery</a></li>
                  <li><a href="{{ site.baseurl }}/prices/" {%- if page.permalink == "/prices/" -%}class="is-active"{%- endif -%}>Prices</a></li>
                  <li><a href="{{ site.baseurl }}/reservations/" {%- if page.permalink == "/reservations/" -%}class="is-active"{%- endif -%}>Reservations</a></li>
                  <li><a href="{{ site.baseurl }}/attractions/" {%- if page.permalink == "/attractions/" -%}class="is-active"{%- endif -%}>Attractions</a></li>
                  <li><hr /></li>
                  <li><a href="{{ site.baseurl }}/contact/" {%- if page.permalink == "/contact/" -%}class="is-active"{%- endif -%}>Contact</a></li>
              </ul>
              </div><div class="section">
              <div class="menu-contact">
                  <p><span class="icon"><i class="fas fa-envelope"></i></span> <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></p>
                  <p><span class="icon"><i class="fas fa-phone"></i></span> {{ site.data.contact.tel }}</p>
                  <p><span class="icon"><i class="fab fa-facebook-square"></i></span> <a href="{{ site.data.contact.facebook.url }}">{{ site.data.contact.facebook.name }}</a></p>
              </p>
          </div>
        </aside>

        <div class="container column is-9">
            <nav class="breadcrumb is-hidden-mobile" aria-label="breadcrumbs">
              <ul>
                  <li><span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span><a href="{{ site.baseurl }}/index.html"><strong>Kimanko pod Sosnami</strong></a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
              </ul>
            </nav>
          <div>
            {{ content }}
          </div>
        </div>

    </section>
</div>
</body>

<script>
{
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

  });

  function openTab(evt, tabName) {
    var i, x, tablinks;
    $(".content-tab").removeClass("is-active");
    $("#"+tabName).addClass("is-active");
    $(".tab").removeClass("is-active");

    evt.currentTarget.className += " is-active";
  }

}
</script>
</html>