<html lang="pl" xml:lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Kimanko pod Sosnami: Pokoje do wynajęcia">
    <meta property="og:image" content="{{ site.baseurl }}{{ site.header_image }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/animate.min.css">

    <script src="{{ site.baseurl }}/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/lightslider.min.js"></script>
    <script src="{{ site.baseurl }}/js/lightgallery.min.js"></script>

    <title>Kimanko pod Sosnami - {{ page.title }}</title>
</head>
<body>
<div id="page">
    <nav class="navbar is-hidden-tablet" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}/index.html">
          <img src="{{ site.baseurl }}/assets/img/logo_header.png" alt="logo" />
        </a>

        <a class="navbar-item navbar-burger navbar-text" data-target="navbarBasicExample">
            Menu
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ site.baseurl }}/index.html">
            Strona Główna
          </a>
          <a href="{{ site.baseurl }}/oferta/" class="navbar-item">Oferta</a>
          <a href="{{ site.baseurl }}/galeria/" class="navbar-item">Galeria</a>
          <a href="{{ site.baseurl }}/ceny/" class="navbar-item">Ceny oraz Rezerwacja</a>
          <a href="{{ site.baseurl }}/atrakcje/" class="navbar-item">Atrakcje</a>

          <a href="{{ site.baseurl }}/kontakt/" class="navbar-item">Kontakt</a>

        </div>
      </div>
    </nav>
    <section class="main-content columns">
        <aside class="is-3 is-narrow-mobile is-fullheight is-hidden-mobile menu">
          <div class="menu-header has-text-centered is-vertical-center">
              <div>
              <img src="{{ site.baseurl }}/assets/img/logo_sidebar.png" alt="logo" height="100" /><br />
                  <p>Kimanko pod Sosnami</p>
              </div>
          </div>
          <div class="section">
              <ul class="menu-list">
                  <li><a href="{{ site.baseurl }}/index.html">Strona Główna</a></li>
                  <li><hr /></li>
                  <li><a href="{{ site.baseurl }}/oferta/" >Oferta</a></li>
                  <li><a href="{{ site.baseurl }}/galeria/">Galeria</a></li>
                  <li><a href="{{ site.baseurl }}/ceny/">Ceny oraz Rezerwacja</a></li>
                  <li><a href="{{ site.baseurl }}/atrakcje/">Atrakcje</a></li>
                  <li><hr /></li>
                  <li><a href="{{ site.baseurl }}/kontakt/">Kontakt</a></li>
              </ul>
              </div><div class="section">
              <div class="menu-contact">
                  <p><span class="icon"><i class="fas fa-envelope"></i></span> <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></p>
                  <p><span class="icon"><i class="fas fa-phone"></i></span> {{ site.data.contact.tel }}</p>
                  <!--<p><span class="icon"><i class="fab fa-facebook-square"></i></span> <a href="{{ site.data.contact.facebook.url }}">{{ site.data.contact.facebook.name }}</a></p>-->
              </p>
          </div>
        </aside>

        <div class="container column is-9">
            <div class="top-section is-clearfix">
            {% if page.en_link %}
                <span class="switch-language is-pulled-right" lang="en">view page in <a href="{{ site.baseurl }}{{ page.en_link }}"  hreflang="en"><strong>English</strong> <img src="{{ site.baseurl }}/assets/img/flag-icon-en_US.png"/></a></span>
            {% endif %}
            <nav class="breadcrumb is-hidden-mobile" aria-label="breadcrumbs">
              <ul>
                  <li><span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span><a href="{{ site.baseurl }}/index.html"><strong>Kimanko pod Sosnami</strong></a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
              </ul>
            </nav>
            </div>
          <div id="main">
            {{ content }}
          </div>
        </div>

    </section>
</div>
</body>

<script>
{
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

  });

  function openTab(evt, tabName) {
    var i, x, tablinks;
    $(".content-tab").removeClass("is-active");
    $("#"+tabName).addClass("is-active");
    $(".tab").removeClass("is-active");

    evt.currentTarget.className += " is-active";
  }

}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47068418-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47068418-6');
</script>
</html>